.white-text {
  color: white;
}
.gray-text {
  color: #DDF;
}
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 10px;
}
body #header {
  height: 80px;
  margin-bottom: 0;
  background-color: #6E82FC;
  border: 0;
}
body #header .navbar-header {
  margin-top: 2em;
}
body #header .navbar-header button {
  border-color: white;
}
body #header .navbar-header button span {
  background-color: white;
}
body #header .navbar-header a {
  line-height: 1em;
}
body #header .navbar-header a img {
  margin-top: -2em;
  padding: 3px;
}
body #header li {
  padding-top: 1em;
}
body #header li a {
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: bolder;
  color: #DDF;
}
body #header li a:hover {
  color: white;
  background-color: #6E82FC;
}
body #header .navbar-collapse {
  border-color: transparent !important;
  background-color: #6E82FC;
  margin-top: 5px;
}
body #header .navbar-right li a {
  font-size: 1.2em;
  font-weight: normal;
  color: white;
}
body #header .navbar-toggle {
  background-color: #6E82FC;
}
body #header .navbar-toggle:hover {
  background-color: #8798fd;
}
body #header .navbar-toggle:active {
  background-color: #556cfb;
}
body .content {
  margin: 0;
  background-color: #6E82FC;
  height: 100vh;
  width: 100vw;
}
body .content h1 {
  color: white;
  font-weight: bolder;
}
