body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 10px;
}
body #header {
  height: 80px;
  background-color: #6E82FC;
  border-color: transaprent;
}
body #header .navbar-header {
  margin-top: 2em;
}
body #header .navbar-header button {
  border-color: white;
}
body #header .navbar-header button span {
  background-color: white;
}
body #header .navbar-header a {
  line-height: 1em;
}
body #header .navbar-header a img {
  margin-top: -2em;
  padding: 3px;
}
body #header li {
  padding-top: 1em;
}
body #header li a {
  text-transform: uppercase;
  color: #FFF;
  font-size: 1.4em;
  font-weight: bolder;
}
body #header .navbar-collapse {
  border-color: Ttransparent !important;
  background-color: #6E82FC;
  margin-top: 5px;
}
body #header .navbar-right li a {
  font-size: 1.2em;
  font-weight: normal;
}
body #header .navbar-toggle {
  background-color: #6E82FC;
}
body #header .navbar-toggle:hover {
  background-color: #8798fd;
}
body #header .navbar-toggle:active {
  background-color: #556cfb;
}
