.white-text {
  color: white;
}
.gray-text {
  color: #DDF;
}
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 10px;
}
body p {
  font-size: 2em;
}
body hr {
  border-color: #67c;
}
body #dropDown {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #8b98be;
  min-width: 100px;
}
body #dropDown a {
  display: block;
  text-decoration: none;
  padding: 0 1em 1em 1em;
}
body table {
  font-size: 1.5em;
}
body table tr td {
  margin: 20px 0;
}
body #header {
  height: 80px;
  margin-bottom: 0;
  background-color: #67c;
  border: 0;
}
body #header .navbar-header {
  margin-top: 2em;
}
body #header .navbar-header button {
  border-color: white;
}
body #header .navbar-header button span {
  background-color: white;
}
body #header .navbar-header a {
  line-height: 1em;
}
body #header .navbar-header a img {
  margin-top: -1em;
  padding: 3px;
}
body #header li {
  padding-top: 1em;
}
body #header li a {
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: bolder;
  color: #DDF;
}
body #header li a:hover {
  color: white;
  background-color: #67c;
}
body #header .navbar-collapse {
  border-color: transparent !important;
  background-color: #67c;
  margin-top: 5px;
}
body #header .navbar-right li a {
  font-size: 1.2em;
  font-weight: normal;
  color: white;
}
body #header .navbar-toggle {
  background-color: #67c;
}
body #header .navbar-toggle:hover {
  background-color: #7988d2;
}
body #header .navbar-toggle:active {
  background-color: #5366c6;
}
body #header .navbar-brand {
  margin-left: 5vw;
  margin-bottom: 0;
}
body .content {
  z-index: 3;
  margin: 0;
  background-color: #67c;
}
body .content h1 {
  color: white;
  font-weight: bolder;
}
body .content h2 {
  color: #67c;
  font-weight: bolder;
}
body .content .jumbotron {
  margin-bottom: 0;
  background-color: #EDEFF5;
}
body .content .jumbotron h1 {
  color: #5e6eba;
}
body .content .jumbotron h3 {
  font-weight: 600;
}
body .content .jumbotron h2 {
  color: #5e6eba;
}
body .content .jumbotron p {
  font-size: 20px;
  font-weight: 300;
}
body #footer {
  background-color: #5e6eba;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(#67c), to(#5e6eba));
  background: linear-gradient(to bottom right, #67c, #5e6eba);
  /* Standard syntax */
}
body #footer p {
  color: white;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.7em;
  font-weight: 600;
}
body #footer h5 {
  color: white;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.7em;
}
body .icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body .blog-entry {
  margin: 1.6em auto;
}
body .blog-entry img {
  width: 100%;
  margin-left: -5%;
}
body .blog-entry h4 {
  font-weight: bolder;
}
body .blog-entry p {
  font-size: 1.5em;
}
body .btn-dgl {
  background-color: #67c;
  color: #FFF;
}
body .btn-dgl:hover {
  background-color: #e69500;
  color: #FFF;
}
body .card {
  display: block;
  margin: 1em 0;
  padding: 5px;
  border: 5px solid #67c;
  background-color: #EDEFF5;
}
body .card .title {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}
body .card img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body .card .full-button a {
  display: block;
  margin: 1em auto;
  width: 90%;
}
body .card ul {
  margin-top: 1em;
  font-size: 2em;
  font-weight: bolder;
}
body .card table thead tr {
  background-color: #67c;
  color: white;
}
body .nav-dgl li a {
  font-size: 1.6em;
}
body .p-heading h1,
body .p-heading h2,
body .p-heading h3,
body .p-heading h4,
body .p-heading h5,
body .p-heading h6 {
  color: white;
  background-color: #67c;
  padding: 10px;
  margin-top: 10px;
}
body .light-background {
  background-color: #EDEFF5;
}
body .white-background {
  background-color: white;
}
